ccs1281/ccs/eclipse/plugins/com.ti.ccstudio.project.templates_12.6.0.202407141830/schema/projectSpec.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

   <xs:annotation>
      <xs:documentation>
         A project-spec file can be used to generate new CCS projects. The project-spec file should have the 'projectspec' extension. These files can be imported using the CCS Project Import wizard, and using the 'com.ti.ccstudio.apps.projectCreate' headless application.
      </xs:documentation>
   </xs:annotation>

   <xs:element name="projectSpec">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="applicability" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="project" minOccurs="1" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="applicability">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="when" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="except" minOccurs="0" maxOccurs="1"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="when">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="context" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="except">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="context" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="context">
      <xs:complexType>
         <xs:attribute name="deviceFamily">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="ARM">
                  </xs:enumeration>
                  <xs:enumeration value="C2000">
                  </xs:enumeration>
                  <xs:enumeration value="C5400">
                  </xs:enumeration>
                  <xs:enumeration value="C5500">
                  </xs:enumeration>
                  <xs:enumeration value="C6000">
                  </xs:enumeration>
                  <xs:enumeration value="C7000">
                  </xs:enumeration>
                  <xs:enumeration value="MSP430">
                  </xs:enumeration>
                  <xs:enumeration value="MSP432">
                  </xs:enumeration>
                  <xs:enumeration value="EVE">
                  </xs:enumeration>
                  <xs:enumeration value="ARP32">
                  </xs:enumeration>
                  <xs:enumeration value="IVAHD">
                  </xs:enumeration>
                  <xs:enumeration value="PRU">
                  </xs:enumeration>
                  <xs:enumeration value="CLA">
                  </xs:enumeration>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="deviceVariant">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="ARM7">
                  </xs:enumeration>
                  <xs:enumeration value="ARM9">
                  </xs:enumeration>
                  <xs:enumeration value="ARM11">
                  </xs:enumeration>
                  <xs:enumeration value="CortexA8">
                  </xs:enumeration>
                  <xs:enumeration value="CortexA9">
                  </xs:enumeration>
                  <xs:enumeration value="CortexA15">
                  </xs:enumeration>
                  <xs:enumeration value="CortexM3">
                  </xs:enumeration>
                  <xs:enumeration value="CortexM4">
                  </xs:enumeration>
                  <xs:enumeration value="CortexR4">
                  </xs:enumeration>
                  <xs:enumeration value="CortexR5">
                  </xs:enumeration>
                  <xs:enumeration value="C27XX">
                  </xs:enumeration>
                  <xs:enumeration value="C28XX">
                  </xs:enumeration>
                  <xs:enumeration value="C54XX">
                  </xs:enumeration>
                  <xs:enumeration value="C55XX">
                  </xs:enumeration>
                  <xs:enumeration value="C55X+">
                  </xs:enumeration>
                  <xs:enumeration value="C62XX">
                  </xs:enumeration>
                  <xs:enumeration value="C64XX">
                  </xs:enumeration>
                  <xs:enumeration value="C64X+">
                  </xs:enumeration>
                  <xs:enumeration value="C66XX">
                  </xs:enumeration>
                  <xs:enumeration value="C67XX">
                  </xs:enumeration>
                  <xs:enumeration value="C67X+">
                  </xs:enumeration>
                  <xs:enumeration value="C674X">
                  </xs:enumeration>
                  <xs:enumeration value="C71XX">
                  </xs:enumeration>
                  <xs:enumeration value="MSP430">
                  </xs:enumeration>
                  <xs:enumeration value="MSP432">
                  </xs:enumeration>
                  <xs:enumeration value="EVE">
                  </xs:enumeration>
                  <xs:enumeration value="ARP32">
                  </xs:enumeration>
                  <xs:enumeration value="IVAHD">
                  </xs:enumeration>
                  <xs:enumeration value="PRU">
                  </xs:enumeration>
                  <xs:enumeration value="CLA">
                  </xs:enumeration>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="deviceId" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:element name="import">
      <xs:annotation>
         <xs:documentation>
            Allows importing a .projectspec file within another .projectspec file. Useful for generating several projects interrelated through project references.
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="spec" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Relative path to the .projectspec file to import. The relative path will be treated as relative to the directory containing the referencing project-spec file.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:element name="project">
      <xs:annotation>
         <xs:documentation>
         	Defines the spec for a single project. Several projects can be generated by the same .projectspec file.
            Template macros can be used in most project-spec attributes to give XML-defined project-specs a more dynamic behaviour. These macros would be replaced with values based on the actual device/endianness/output-format selections made by the user in the wizard at runtime. For the full list of supported template macros, see {@link com.ti.common.project.core.initializer.ProjectAttributes}.
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="configuration"/>
            <xs:element ref="file"/>
            <xs:element ref="pathVariable"/>
            <xs:element ref="buildVariable"/>
            <xs:element ref="envVariable"/>
            <xs:element ref="property"/>
         </xs:choice>
         <xs:attribute name="name" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="description" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="device" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="deviceCore" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  ID of the device core [optional]. Defaults to 'null' - user would be asked to select a core when launching a debug-session (if necessary).
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="connection" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Connection for the new project [optional]. Value is expected to be the name of the connection XML file.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="location" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Location of the new project [optional]. If relative-path specified, it will be treated as relative to the directory containing the project-spec file. If omitted, project will be created in the workspace directory.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="outputType" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Specifies the output-type of the project produced by this template [optional]. If omitted, it is assumed that this template can generate either one of the two intrinsic output-types - &apos;executable&apos; or &apos;staticLibrary&apos;.
               </xs:documentation>
               <xs:appinfo>
                  <xs:meta.attribute kind="identifier" basedOn="com.ti.common.project.core.outputTypes/outputType/@id"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="configurations" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Comma-separated list of build-configuration names to create for the new project [optional]. Defaults to &quot;Debug,Release&quot; for most output-types. The &lt;configuration/&gt; element can be used, instead of this attribute, to specify additional settings.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="products" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Semicolon-separated list of Product-type IDs to enable for the project generated by this projectspec [optional]. The list could optionally include a version at various degrees of precision. E.g. "com.ti.my_sdk;com.ti.my_plugin:2.1".
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="requiredVariables" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Semicolon-separated list of path-variables required to be defined before this project can be built [optional]. At build-time, these variables are expected to be defined by the user on the workspace scope. Note that these must be path-variables of type "Directory", pointing to existing directories in the file-system. E.g. "FREERTOS_INSTALL_DIR".
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="endianness">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="little">
                  </xs:enumeration>
                  <xs:enumeration value="big">
                  </xs:enumeration>
                  <xs:enumeration value="be8">
                  </xs:enumeration>
                  <xs:enumeration value="be32">
                  </xs:enumeration>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="toolChain">
            <xs:annotation>
               <xs:documentation>
                  Tool-chain name - one of 'TI', 'TICLANG', or 'GNU'. Defaults to 'TI'. Will be used along with 'toolVersion' to select the compiler.
               </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="TI">
                  </xs:enumeration>
                  <xs:enumeration value="TICLANG">
                  </xs:enumeration>
                  <xs:enumeration value="GNU">
                  </xs:enumeration>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="toolVersion" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Tool version of the form 'x[.y][.z]'. Will be used along with 'toolChain' to select the compiler. Defaults to highest available version. If only 'x.y' is specified, highest available 'z' will be selected. If only 'x' is specified, 'x.0' will be assumed. Legacy alias 'cgtVersion' is also supported - switch to 'toolVersion' made as of v10.0.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="outputFormat">
            <xs:annotation>
               <xs:documentation>
                  Output format - one of 'COFF' or 'ELF'. If omitted, specified device and compiler will be used to select a default.
               </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="COFF">
                  </xs:enumeration>
                  <xs:enumeration value="ELF">
                  </xs:enumeration>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="references" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Comma-separated list of referenced project names.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="sourceLookupPath" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Comma-separated list of source lookup-path entries to add to created project [optional].
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="linkOrder" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Semicolon-separated list of objects to use as the link-order for created project [optional].
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="artifactName" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Name of the build-artifact. Defaults to the name of the project.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="artifactExtension" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Extension of the build-artifact. Defaults to 'out' or 'lib', depending on 'outputType'.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="outputPrefix" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Prefix of the build-artifact. Defaults to 'lib' on Linker tool for the GNU tool-chain.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="autoGenerateMakefiles" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>
                  Defaults to 'true'.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="buildLocation" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="buildCommand" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Build-command. Defaults to the 'gmake' utility included with CCS.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="buildCommandFlags" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Comma-separated list of build-command flags. Defaults to '-k'.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="buildTarget" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="cleanTarget" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="template" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Project-template to use when constructing the project.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="launchWizard" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>
                  Launches the New Project wizard, allowing the user to adjust the details. Not applicable in headless mode. Defaults to 'false'.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="linkerCommandFile" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="runtimeSupportLibrary" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="compilerBuildOptions" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of build-options to set on the created project's compiler tool [optional]. Use &apos;&quot;&apos; to escape all double-quotes in the value.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="compilerBuildOptions_c" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of C-source specific build-options to set on the created project's compiler tool [optional]. Currently applies only to the GNU tool-chain. Use &apos;&quot;&apos; to escape all double-quotes in the value.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="compilerBuildOptions_cpp" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of C++-source specific build-options to set on the created project's compiler tool [optional]. Currently applies only to the GNU tool-chain. Use &apos;&quot;&apos; to escape all double-quotes in the value.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="compilerBuildOptions_asm" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of assembly-source specific build-options to set on the created project's compiler tool [optional]. Currently applies only to the GNU tool-chain. Use &apos;&quot;&apos; to escape all double-quotes in the value.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="linkerBuildOptions" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of build-options to set on the created project's linker tool [optional]\n(use '&quot;' to escape all double-quotes in the value).
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="archiverBuildOptions" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of build-options to set on the created project's archiver tool [optional]\n(use '&quot;' to escape all double-quotes in the value).
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="hexBuildOptions" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of build-options to set on the created project's Hex tool [optional]\n(use '&quot;' to escape all double-quotes in the value). Hex tool needs to be separately enabled using 'enableHexTool'.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="enableHexTool" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>
                  Iff 'true' enables the Hex tool with its default build-options [optional]. Defaults to 'false'.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="objcopyBuildOptions" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of build-options to set on the created project's Objcopy tool [optional]\n(use '&quot;' to escape all double-quotes in the value). Objcopy tool needs to be separately enabled using 'enableObjcopyTool'.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="enableObjcopyTool" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>
                  Iff 'true' enables the Objcopy tool with its default build-options [optional]. Defaults to 'false'.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="sysConfigBuildOptions" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of build-options to set on the created project's SysConfig tool [optional]\n(use '&quot;' to escape all double-quotes in the value). SysConfig tool needs to be separately enabled using 'enableSysConfigTool'.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="enableSysConfigTool" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>
                  Iff 'true' enables the SysConfig tool with its default build-options [optional]. Defaults to 'false'.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="optiShareBuildOptions" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of script build-options to set on the created project's OptiShare tool [optional]\n(use '&quot;' to escape all double-quotes in the value). OptiShare tool needs to be separately enabled using 'enableOptiShareTool'.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="optiShareLinkerBuildOptions" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of linker build-options to set on the created project's OptiShare tool [optional]\n(use '&quot;' to escape all double-quotes in the value). OptiShare tool needs to be separately enabled using 'enableOptiShareTool'.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="optiShareOptimizedOutputPattern" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Pattern for optimized binary files to set on the created project's OptiShare tool [optional]. OptiShare tool needs to be separately enabled using 'enableOptiShareTool'.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="optiShareOptimizedLinkInfoPattern" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Pattern for optimized link-information files to set on the created project's OptiShare tool [optional]. OptiShare tool needs to be separately enabled using 'enableOptiShareTool'.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="enableOptiShareTool" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>
                  Iff 'true' enables the OptiShare tool with its default build-options [optional]. Defaults to 'false'.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="preBuildStep" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Semicolon-separated list of commands to be executed before any other tools are run during a project build [optional].
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="postBuildStep" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Semicolon-separated list of commands to be executed after all other tools are run during a project build [optional].
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="declaredImports" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Comma-separated list of declared import-variable names to be used in a System Project configuration [optional]. E.g. &quot;IMPORT_FILE__CMD,IMPORT_FILE__LIB,IMPORT_SYMBOLS&quot;
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="definedExports" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Comma-separated list of defined export-variable name=value pairs to be used in a System Project configuration [optional]. E.g. &quot;EXPORT_FILE__LIB=${ConfigName}/c.lib,EXPORT_SYMBOLS=LIBSYM1||LIBSYM2=${ProjName}&quot;
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="ignoreDefaultDeviceSettings" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>
                  Iff 'true' ignores any default settings specified by the selected device [optional]. Defaults to 'false'.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="ignoreDefaultCCSSettings" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>
                  Iff 'true', ignores any non-essential default settings made by CCS [optional]. Defaults to 'false'.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:element name="configuration">
      <xs:complexType>
         <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="compilerBuildOptions" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of build-options to set on the created project&apos;s compiler tool [optional]. Use &apos;&quot;&apos; to escape all double-quotes in the value.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="compilerBuildOptions_c" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of C-source specific build-options to set on the created project&apos;s compiler tool [optional]. Currently applies only to the GNU tool-chain. Use &apos;&quot;&apos; to escape all double-quotes in the value.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="compilerBuildOptions_cpp" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of C++-source specific build-options to set on the created project&apos;s compiler tool [optional]. Currently applies only to the GNU tool-chain. Use &apos;&quot;&apos; to escape all double-quotes in the value.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="compilerBuildOptions_asm" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of assembly-source specific build-options to set on the created project&apos;s compiler tool [optional]. Currently applies only to the GNU tool-chain. Use &apos;&quot;&apos; to escape all double-quotes in the value.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="linkerBuildOptions" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of build-options to set on the created project&apos;s linker tool [optional]. Use &apos;&quot;&apos; to escape all double-quotes in the value.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="archiverBuildOptions" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of build-options to set on the created project&apos;s archiver tool [optional]. Use &apos;&quot;&apos; to escape all double-quotes in the value.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="hexBuildOptions" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of build-options to set on the created project&apos;s Hex tool [optional]. Use &apos;&quot;&apos; to escape all double-quotes in the value. Hex tool needs to be separately enabled using &apos;enableHexTool&apos;.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="enableHexTool" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>
                  Iff &apos;true&apos; enables the Hex tool with its default build-options [optional]. Defaults to &apos;false&apos;.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="objcopyBuildOptions" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of build-options to set on the created project&apos;s Objcopy tool [optional]. Use &apos;&quot;&apos; to escape all double-quotes in the value. Objcopy tool needs to be separately enabled using &apos;enableObjcopyTool&apos;.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="enableObjcopyTool" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>
                  Iff &apos;true&apos; enables the Objcopy tool with its default build-options [optional]. Defaults to &apos;false&apos;.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="sysConfigBuildOptions" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of build-options to set on the created project&apos;s SysConfig tool [optional]. Use &apos;&quot;&apos; to escape all double-quotes in the value. SysConfig tool needs to be separately enabled using &apos;enableSysConfigTool&apos;.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="enableSysConfigTool" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>
                  Iff &apos;true&apos; enables the SysConfig tool with its default build-options [optional]. Defaults to &apos;false&apos;.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="optiShareBuildOptions" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of script build-options to set on the created project&apos;s OptiShare tool [optional]\n(use &apos;&quot;&apos; to escape all double-quotes in the value). OptiShare tool needs to be separately enabled using &apos;enableOptiShareTool&apos;.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="optiShareLinkerBuildOptions" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of linker build-options to set on the created project&apos;s OptiShare tool [optional]\n(use &apos;&quot;&apos; to escape all double-quotes in the value). OptiShare tool needs to be separately enabled using &apos;enableOptiShareTool&apos;.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="optiShareOptimizedOutputPattern" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Pattern for optimized binary files to set on the created project&apos;s OptiShare tool [optional]. OptiShare tool needs to be separately enabled using &apos;enableOptiShareTool&apos;.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="optiShareOptimizedLinkInfoPattern" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Pattern for optimized link-information files to set on the created project&apos;s OptiShare tool [optional]. OptiShare tool needs to be separately enabled using &apos;enableOptiShareTool&apos;.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="enableOptiShareTool" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>
                  Iff &apos;true&apos; enables the OptiShare tool with its default build-options [optional]. Defaults to &apos;false&apos;.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="preBuildStep" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="postBuildStep" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:element name="file">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="path" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="targetDirectory" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  The relative path of the project-folder into which the file is to be placed. May be omitted, in which case it will be placed into root of the project.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="targetName" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  The name of the target-file. May be omitted, in which case it will be the same as the source-file.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="action">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="copy">
                  </xs:enumeration>
                  <xs:enumeration value="link">
                  </xs:enumeration>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="excludeFromBuild" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="openOnCreation" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="applicableConfigurations" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Comma-separated list of build-configuration names for which this file should be included in build. It will be excluded from build for all other build-configurations.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="createVirtualFolders" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>
                  Creates virtual folders. Applies only when action is 'link' and targetDirectory is supplied.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="overwriteExisting" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="compilerBuildOptions" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of compiler build-options to set for this file, overriding project settings [optional]. Use &apos;&quot;&apos; to escape all double-quotes in the value.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="sysConfigBuildOptions" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Space-separated list of SysConfig build-options to set for this file, overriding project settings [optional]. Use &apos;&quot;&apos; to escape all double-quotes in the value. SysConfig tool needs to be separately enabled using &apos;enableSysConfigTool&apos;.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:element name="pathVariable">
      <xs:complexType>
         <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="path" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="scope">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="global">
                  </xs:enumeration>
                  <xs:enumeration value="project">
                  </xs:enumeration>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:element name="buildVariable">
      <xs:complexType>
         <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="value" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="type">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="string">
                  </xs:enumeration>
                  <xs:enumeration value="dir">
                  </xs:enumeration>
                  <xs:enumeration value="file">
                  </xs:enumeration>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="scope">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="global">
                  </xs:enumeration>
                  <xs:enumeration value="project">
                  </xs:enumeration>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:element name="envVariable">
      <xs:complexType>
         <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="value" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="scope">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="global">
                  </xs:enumeration>
                  <xs:enumeration value="project">
                  </xs:enumeration>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:element name="property">
      <xs:complexType>
         <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="value" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

</xs:schema>
